[v-cload] { display: none; }

.pseudo {
  content: '';
  display: block;
  position: absolute;
  box-sizing: border-box;
}

@keyframes timeToSee {
    0% {display: block;}
    10% {opacity: 0.1; height: 10%;}
    20% {opacity: 0.2; height: 20%;}
    30% {opacity: 0.3; height: 30%;}
    40% {opacity: 0.4; height: 40%;}
    50% {opacity: 0.5; height: 50%;}
    60% {opacity: 0.6; height: 60%;}
    70% {opacity: 0.7; height: 70%;}
    80% {opacity: 0.8; height: 80%;}
    90% {opacity: 0.9; height: 90%;}
    100% {opacity: 1; height: 100%;}
}

// change input
input[type=range] { 
  -webkit-appearance: none;
  background-color: transparent;
  &:focus { outline: none; }
  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background-color: #b2b2b2;
  }
  &::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #b2b2b2;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -9px;
    &:hover { background-color: #888888; }
  }
  &::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background-color: #b2b2b2;
    position: relative;
    top: 113px;
  }
  &::-moz-range-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #b2b2b2;
    cursor: pointer;
    &:hover { background-color: #888888; }
  }
  &::-ms-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background-color: transparent;
    border-color: transparent;
    color: transparent;
  }
  &::-ms-fill-lower {
    background-color: rgba(40, 94, 141, 0.78);
  }
  &::-ms-fill-upper {
    background-color: #b2b2b2;
  }
  &::-ms-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #b2b2b2;
    cursor: pointer;
    height: 2px;
    &:hover { background-color: #888888; }
  }
  &:focus::-ms-fill-lower { background: #b2b2b2; }
  &:focus::-ms-fill-upper { background: rgba(56, 132, 197, 0.78); }
}
// /change input

section#imageEdit {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin-top: 1%;
  .image {
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    &.frameElement {
      background-color: #F4F4F4;
      .buttons button.frame { 
        background-color: #b2b2b2; 
        transition: background-color 0s;
      }
    }
    .limit-place {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 650px;
      height: 300px;
      overflow: hidden;
      border: 1px dashed #000;
      .resize {
        background-color: #fff;
        border: 1px solid #000;
        cursor: ns-resize;
        position: absolute;
        bottom: 0;
        padding: 5px;
      }
      img { 
        transition: transform .5s;
        cursor: move;
      }
    }
    .buttons {
      display: flex;
      width: 100%;
      justify-content: center;
      .range {
        width: 150px;
        display: flex;
        justify-content: center;
        margin-top: 10px;
        align-items: center;
      }
      button {
        background-color: #b2b2b2; 
        margin-top: 10px;
        border: none;
        box-sizing: border-box;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        cursor: pointer;
        &:focus { outline: none; }
        &:not(.frame) { 
          transition: background-color .5s;
          &:hover { background-color: #888888; }
        }
        &.default {
          transform: rotate(45deg);
          position: absolute;
          left: 15px;
          &:before {
            @extend .pseudo;
            border: 3px solid #fff;
            border-top-color: transparent;
            border-radius: 50%;
            height: 15px;
            width: 15px;
            transform: rotate(45deg);
            top: 8px;
            left: 8px;
          }
          &:after {
            @extend .pseudo;
            border: 5px solid transparent;
            border-left-color: #fff;
            height: 0;
            top: 5px;
            left: 15px;
          }
        }
        &.zoomOut:before {
          @extend .pseudo;
          background-color: #fff;
          width: 12px;
          height: 3px;
          top: 14px;
          left: 9px;
        }   
        &.zoomIn:before {
          @extend .pseudo;
          content: '+';
          position: static;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 25px;
          font-weight: 700;
          color: #fff;
          height: 100%;
        }
        &.remove {
          position: absolute;
          right: -15px;
          top: -15px;
          border-radius: 50%;
          width: 25px;
          height: 25px;
          cursor: pointer;
          transition: background-color .1s;
          &:hover { background-color: #ee323c; }
          &:before {
            @extend .pseudo;
            content: 'x';
            top: -1px;
            left: 7px;
            font-size: 20px;
            font-weight: 700;
            color: #fff;
          }
        }
        &.frame {
          position: relative;
          background-color: #888888;
          position: absolute;
          right: 15px;
          margin: 10px 0 0;
          &:hover p {
            animation-name: timeToSee;
            animation-duration: .3s;
            animation-fill-mode: forwards;
            display: block;
          }
          &:before {
            @extend .pseudo;
            border: 2px solid #fff;
            width: 14px;
            height: 14px;
            left: 8px;
            top: 8px;
          }
          p {
            display: none;
            opacity: 0;
            height: 0;
            background-color: #373c40;
            position: absolute;
            top: -80px;
            left: -100px;
            border-radius: 5px;
            font-size: 14px;
            line-height: 18px;
            padding: 10px 15px;
            color: #fff;
            text-align: left;
            width: 215px;
            opacity: 0;
            &:before {
              @extend .pseudo;
              bottom: -20px;
              left: 115px;
              margin-left: -10px;
              border: 10px solid transparent;
              border-top: 10px solid #373c40;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 769px) {
  section#imageEdit { 
    width: 100%;
    .image {
      width: 90%;
      .limit-place { 
        width: 90%;
        margin: 0 auto;
      }
    }
  }
}